{
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "printWidth": 100,
  "singleQuote": true,
  "semi": false,
  "indent": 2,
  "endOfLine": "lf",
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "none"
}
